<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/philippG777/pg.css@1.0.1/pg.css">
  </head>
  <body class="txt-center">
    <h1>Timestamp-Microservice</h1>
    <p>
      This is an API that return a given date in natural language, and as an UNIX-timestamp.
    </p>
    <div class="card margin">
      <h2>
        Let's try it out!
      </h2>
      <p>
        As a date in natural language: 
        <a href="/December 2016, 12"><code>/December 2016, 12</code></a>
      </p>
      <p>
        As a UNIX-timestamp: 
        <a href="/1481500800"><code>/1481500800</code></a>
      </p>
    </div>
  </body>
</html>